    /* Adding  fonts */
    @font-face {
        font-family: "AdventPro-ExtraLight";
        src: url(../Fonts/AdventPro/AdventPro-ExtraLight.ttf);
      }
  
      @font-face {
        font-family: "AdventPro-Regular";
        src: url(../Fonts/AdventPro/AdventPro-Regular.ttf);
      }
  
      @font-face {
        font-family: "AdventPro-Medium";
        src: url(../Fonts/AdventPro/AdventPro-Medium.ttf);
      }
      
      @font-face {
        font-family: "AdventPro-Bold";
        src: url(../Fonts/AdventPro/AdventPro-Bold.ttf);
      }
  
      @font-face {
        font-family: "AtomicAge";
        src: url(../Fonts/AtomicAge/AtomicAge-Regular.ttf)
      }
  
      @font-face {
        font-family: "MavenPro";
        src: url(../Fonts/MavenPro/MavenPro-Regular.ttf)
      }
  
      @font-face {
        font-family: "Moodyrock";
        src: url(../Fonts/Moodyrock.otf)
      }
  
  body {
    background-color: #2a2f4a;
  }
  
  a, strong, span {
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
  }
  
  /* Links */
    a.link {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 5;
      font-family: AdventPro-Regular, sans-serif, arial, serif;
      letter-spacing: .05em;
    }
  
    a.link:hover {
      color: #9bf1ff;
      border-bottom-color: transparent;
   }
  
    a.buttonBox {
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 2em;
      text-decoration: none;
      text-transform: uppercase;
      font-family: AdventPro-Medium, sans-serif;
      font-weight: 500;
      padding: .35em .75em .35em .75em;
    }
  
    a.buttonBox:hover {
      color: #9bf1ff;
      border-color: #9bf1ff;
    }
  
  /* Navagetion Bar */
  div#top {
    width: 100%;
    background-color: #2a2f4a;
    box-shadow: 0 .5px 3px rgba(10, 10, 50, .6);
    position: fixed;
    margin: -2em 0 0 -.5em;
    padding: 1em;
    z-index: 10000;
  }
  
    div#header {
      width: 25%;
      display: inline;
      float: left;
      padding: .5em 0 .5em 0;
      margin-left: .5em;
    }
  
    div#header .header {
      text-transform: uppercase;
      display: inline-block;
      font-size: 2em;
      font-weight: inherit;
      border-bottom: none;
    }
  
    div#header .header strong {
      background-color: #ffffff;
      color: #2a2f4a;
      font-family: AtomicAge, serif;
      letter-spacing: .05em;
      padding-left: .2em;
      padding-right: .2em;
      border-bottom: none;
      font-weight: 100;
    }
  
    div#header .header span {
      font-family: AdventPro-Bold, serif;
      letter-spacing: .3em;
      margin-left: .3em;
      font-size: .55em;
      border-bottom: none;
    }
  
      #header a.linkStyle1 {
        text-decoration: none;
        color: #ffffff;
      }
  
      #header a.linkStyle1:hover span {
        color: #9bf1ff;
      }
  
      #header a.linkStyle1:hover strong {
        background-color: #9bf1ff;
      }
  
  div#navBar {
    width: 70%;
    display: inline;
    float: right;
    margin-top: -.5em;
  }
  
  div#navBar ul {
    list-style-type: none;
    margin-left: .25em;
  }
  
  div#navBar ul li {
    text-align: center;
    display: inline;
    float: left;
    margin-right: 5.75em;
  }
  
  div#navBar ul li a {
    font-family: AdventPro-Bold, sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    border-bottom: none;
  }
  
  
      #navBar .linkStyle2 {
        text-decoration: none;
      }
  
      #navBar .linkStyle2:hover {
        color: #9bf1ff;
      }
  
  /* Classes */
  .noWarp {
    clear: both;
  }
  
  /* Banner */
  div#banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 2em;
    margin-left: -.5em;
    background-image: url("../images/hookipa.jpg");
    width: 100.85%;
  }
  
  header.mask1 {
    width: 100%;
    background: rgba(10, 10, 50, .6);
    display: block;
    padding: 5em 0 14.5em 0;
  }
  
  
  div#banner h1 {
    margin: 1em 0 .75em .5em;
    font-size: 5.25em;
    font-weight: 500;
    font-family: AdventPro-ExtraLight;
    color: white;
    text-align: center;
  }
  
  div#banner hr {
    width: 90%;
    margin: -1em auto 8em auto;
  }
  
      #banner a {
        margin: 0 0 0 43%;
      }
  
  /* Main */
  div#main {
    width: 100.8%;
    margin-left: -.5em;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
    #main article {
      display: inline-block;
      z-index: 4;
    }
  
    #main article.small {
      width: 40%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    #main article.big {
      width: 60%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
        #main article.image1 {
          background-image: url("../images/amazonTrees.jpg");
        }
        #main article.image2 {
          background-image: url("../images/coding.jpg");
        }
        #main article.image3 {
          background-image: url("../images/camera.jpg");
        }
        #main article.image4 {
          background-image: url("../images/vinyl.jpg");
        }
        #main article.image5 {
          background-image: url("../images/clapboard.jpg");
        }
        #main article.image6 {
          background-image: url("../images/tools.jpg");
        }
  
    #main article header {
      display: relative;
      padding: .5em 0 6.5em 2.5em;
      z-index: 3;
    }
  
    #main header {
      -moz-transition: background-color 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      background: rgba(10, 10, 50, .6);
    }
  
    #main header:hover {
      -moz-transition: background-color 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
      background-color: transparent;
    }
  
          #one header:hover {
            text-shadow: 2px 2px 3px #000000;
          }
  
    #main article h3 {
      font-size: 2em;
      font-family: AdventPro-Bold;
      text-transform: uppercase;
      margin-bottom: 0;
      padding-bottom: .25em;
    }
  
    #main section#one a {
      border-bottom: none;
      text-decoration: none;
      color: #ffffff;
    }
  
    #main p {
      padding: 1em .25em 1em 0;
      color: #ffffff;
      font-family: AdventPro-Medium;
      font-size: 1.25em;
      border-top: 2px solid #ffffff;
      margin-right: 65%;
      display: table-cell;
    }
  
  section#two {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 7em;
    padding-top: 1em;
  }
  
  article#feedBack {
    margin-top: 3em;
  }
  
    #two h2 {
      font-size: 2em;
      font-family: MavenPro, Arial;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      margin-right: 45%;
      padding-bottom: .5em;
    }
  
    #two p {
      width: 100%;
      font-family: MavenPro;
      border-top: transparent;
      text-align: justify;
      font-weight: 100;
      line-height: 1.5em;
      letter-spacing: .05em;
      font-size: 1.5em;
      display: block;
      text-shadow: none;
    }
  
        #two p.spacing {
          margin-top: -2em;
        }
  
        #two p.indent {
          text-indent: 2em;
        }
  
    #two a {
      float: right;
      margin-top: -2em;
    }
  
    /* Contact */
    div#contact {
      width: 100%;
      background: rgb(38, 43, 70);
      margin-left: -.5em;
      padding-right: 1em;
    }
  
    /* Form */
      div#form {
        width: 50%;
        display: inline-block;
        padding-bottom: 6.3em;
      }
  
        form {
          margin: 0 0 2em 1em;
        }
  
        form .field {
          margin: 0 0 2em 0;
        }
  
        form .field.half {
          padding: 0 0 0 1em;
        }
  
        form .field.half.first {
          padding: 0 1em 0 0;
          margin-top: -.01em;
          float: left;
        }
  
        form .second {
          float: right;
          width: 50%
        }
  
        form .bottom {
          float: left;
        }
  
        label {
          color: #ffffff;
          display: block;
          font-size: 1.1em;
          font-weight: 600;
          font-family: arial;
          letter-spacing: .25em;
          text-transform: uppercase;
          margin: 0 0 1em 0;
          padding: 1em 1em 0 1.25em;
        }
  
        input, textarea {
          appearance: none;
          background: rgba(212, 212, 255, 0.035);
          border: none;
          border-radius: 0;
          color: inherit;
          display: block;
          outline: 0;
          padding: 0 1em;
          margin-left: 1em;
          text-decoration: none;
        }
  
        input[type="text"] {
          height: 3.5em;
          width: 20em;
          font-size: 1.25em;
        }
  
        textarea {
          padding: 1em;
          width: 53.45em;
          height: 15.85em;
          font-size: 1.25em;
        }
  
        input[type="text"],
        textarea {
          padding: 1em;
          color: #ffffff;
        }
  
        input[type="text"]:focus,
        textarea:focus {
          color: #ffffff;
          box-shadow: 0 0 0 2px #ffffff;
        }
  
      /* Buttons */
          ul.buttons {
            margin-left: -1.65em;
            padding-bottom: 2em;
            list-style-type: none;
            width: 100%;
          }
  
  
  
          input[type="submit"],
          input[type="reset"] {
            -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            cursor: pointer;
            display: inline-block;
            font-size: 1.1em;
            font-weight: 600;
            height: 3.5;
            letter-spacing: .15em;
            line-height: 3.5em;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
            margin: 1em 0 1em .5em;
            padding: .25em 1em 3.5em 1.15em;
            float: left;
          }
  
          input[type="submit"].special {
            background-color: #ffffff;
            box-shadow: 0 0 0 2px #ffffff;
            color: #252a42;
            width: 25%;
          }
  
          input[type="submit"].special:hover {
            background-color: #9bf1ff;
            box-shadow: 0 0 0 2px #9bf1ff;
            color: #252a42;
          }
  
          input[type="reset"] {
            color: #ffffff;
            background: rgb(38, 43, 70);
            box-shadow: 0 0 0 2px #ffffff;
            float: left;
            margin-left: 3em;
          }
  
          input[type="reset"]:hover {
            box-shadow: 0 0 0 2px #9bf1ff;
            color: #9bf1ff;
          }
  
    /* Information */
      div#info {
        background-color: #2a2f4a;
        width: 50%;
        margin-right: -.5em;
        float: right;
      }
  
        div.box {
          background: rgb(38, 43, 70);
          padding: 2em 0 3.5em 0;
          margin-left: 2px;
          margin-bottom: 2px;
        }
  
          #info .margin {
            margin-left: 30%;
          }
  
      #info h1 {
        color: #ffffff;
        font-family: arial;
        font-size: 2em;
        display: inline;
      }
  
          #info a.mail {
            display: block;
            margin-top: 1em;
            margin-bottom: .75em;
            line-height: 1.5em;
            width: fit-content;  
          }
  
      #info p {
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1.5em;
        font-weight: 200;
        line-height: 1.5em;
        letter-spacing: .1em;
      }
  
    /* Footer */
    footer#footer {
    width: 100%;
    background: rgb(38, 43, 70);
    margin-left: -.5em;
    margin-top: 2px;
    padding: 1em 1em 2em 0;
    }
  
      #footer div.margin {
        margin: 3em 0 2.5em 5em;
      }
  
      #footer ul {
        list-style: none;
        font-family: sans-serif, arial, serif;
        font-size: 1.25em;
        color: rgba(128, 128, 128, .6);
        margin-top: 3em;
      }
  
        #footer li {
          display: inline;
          margin-left: -2em;
          margin-right: 3em;
        }
  
          #footer li.copyright {
            border-right: 2px solid rgba(128, 128, 128, .3);
            padding-right: 1em;
          }
  
        #footer li a {
          color: rgba(128, 128, 128, .6);
          font-size: 1em;
          text-decoration: none;
        }
  
          #footer li a:hover{
            color: #9bf1ff;
          }
  
    /* Icons */
        .icon {
          background-color: #ffffff;
          border-radius: 100%;
          color: rgb(38, 43, 70);
          font-family: FontAwesome;
          font-size: 1.75em;
          height: 2em;
          line-height: 2em;
          width: 2em;
          text-decoration: none;
          display: inline-block;
          text-align: center;
          margin-right: .75em;
        }
  
        .fa-youtube {
          font-size: 2em;
          height: 1.75em;
          line-height: 1.75em;
          width: 1.75em;
        }
  
        a.icon:hover {
          background-color: #9bf1ff;
        }
  
        a.icon.noLink {
          margin-left: 15%;
          margin-right: 7.5%;
        }
  
            a.noLink:hover {
              background-color: #ffffff;
            }